
<html dir="rtl" lang="ar">
  <div class="widgets">
  <flash-messages></flash-messages>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <div class="typography-document-samples"style="display: block;">
    <div class=" typography-widget">
      <form (submit)="onGenerate() ">
      <!--<form (submit)="onGenerate() " >-->
      <div title="DOCUMENT GENERATOR" baCardClass="with-scroll heading-widget">
        
          <div>
            <h3>محضر الجمعية + دعوات +استقالة +إقرار صحة</h3>
          </div>
        <br>

        <div class="form-group">
          <label for="sel1">الشركة:</label>
          <select class="form-control" [(ngModel)]="company" name="company">
            <option *ngFor="let company of companies" value={{company._id}} required>{{company.name}}</option>
          </select>
        </div>
         <br>

         <div class="form-group">
          <label for="sel2" >نوع الجمعية:</label>
          <select class="form-control" [(ngModel)]="type" name="type">
            <option value="عادية" required>عادية</option>
            <option value="غير عادية" required>غير عادية</option>
          </select>
        </div>
         <br>

        <div class="form-group">
          <label for="cal">تاريخ الجمعية:</label> <br>
          <input type="date" [(ngModel)]="input4" name="input4" placeholder="Enter text" class="form-control" id="cal" required>
        </div>
         <br>
         <hr>

         <div>
            <h5>الأجندة</h5>
        </div> 
         <table>
            <tr *ngFor="let entry of agenda; let i = index" style="margin-bottom: 10px;">
              <td>{{i+1}}.</td> &nbsp; <td>{{entry.item}} </td>  &nbsp; <td><button type="button" (click)="removeItem(entry)" class="btn btn-danger btn-xs">x</button></td>
            </tr>
        </table>
        <br>
        <div class="form-group">
         <input type="text" [(ngModel)]="item" name="item" placeholder="قرار" class="form-control" required/> 
        </div>
        <br>
        <button type="button" class="btn btn-primary btn-xs" (click)="addItem(item)" [disabled]="!item">إضافة</button>
        <br>

        <div style="text-align:center;">
          <input type="submit" class="btn btn-success btn-raised center" style="position: absolute; margin: 0 auto;" value="Generate file" [disabled]="!input4 || !company || !generate">
        </div>
      </div>
      </form>
      
    </div>
  </div>

</div>
</html>
