<div class="widgets">

  <div class="typography-document-samples"style="display: block;">
    <div class=" typography-widget">

      <ba-card title="DOCUMENT GENERATOR" baCardClass="with-scroll heading-widget">
        
        <div>
          <h3>Choose data you want to display in the word file</h3>
        </div>

        <div class="form-group">
          <label for="text">Input 1:</label> <br>
          <input type="text" placeholder="Enter text" class="form-control" id="text">
        </div>
         <br>

        <div class="btn-group" ngbDropdown>
          <button type="button" class="btn btn-default" ngbDropdownToggle>
            Input 2
          </button>
          <ul class="dropdown-menu">
            <li class="dropdown-item"><a href="#">Action</a></li>
            <li class="dropdown-item"><a href="#">Another action</a></li>
            <li class="dropdown-item"><a href="#">Something else here</a></li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-item"><a href="#">Separated link</a></li>
          </ul>
        </div>
         <br>
         <br>

       <div class="btn-group" ngbDropdown>
          <button type="button" class="btn btn-default" ngbDropdownToggle>
            Input 3
          </button>
          <ul class="dropdown-menu">
            <li class="dropdown-item"><a href="#">Action</a></li>
            <li class="dropdown-item"><a href="#">Another action</a></li>
            <li class="dropdown-item"><a href="#">Something else here</a></li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-item"><a href="#">Separated link</a></li>
          </ul>
        </div>
        <br>
        <br>
<!--
<div layout-gt-xs="row">
    <div flex-gt-xs>
      <h4>Custom calendar trigger</h4>
      <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date" md-is-open="ctrl.isOpen"></md-datepicker>
      <md-button class="md-primary md-raised" ng-click="ctrl.isOpen = true">Open</md-button>
    </div>
  </div>-->
<!--<datepicker date-month-title="selected year">
    <input ng-model="date"/>
</datepicker>

<datepicker date-year-title="selected title">
    <input ng-model="date"/>
</datepicker>-->

        <script src="node_modules/angular-calendar/dist/umd/angular-calendar.js"></script>
<script>
    // everything is exported angularCalendar namespace
</script>

        <div class="form-group">
          <label for="cal">Input 4:</label> <br>
          <input type="text" placeholder="Enter text" class="form-control" id="cal">
        </div>
         <br>

        <div style="text-align:center;">
          <button type="button" class="btn btn-success btn-raised center" style="position: absolute; bottom:10px; margin: 0 auto;">Success</button>
        </div>

      </ba-card>
    </div>
  </div>

</div>
