
<html dir="rtl" lang="ar">
<div class="widgets">

        <flash-messages></flash-messages>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  
  <div class="typography-document-samples"style="display: block;">
    <div class=" typography-widget">
      <!-- <form *ngIf="generate" (submit)="onGenerate() "> -->
      <form (submit)="onSubmit() " >
      <div title="Register new company" baCardClass="with-scroll heading-widget">
        
        <div>
            <h5>بيانات الشركة</h5>
        </div> 
        <br>

        <div class="form-group">
          <input type="text" [(ngModel)]="companyname" name="companyname" placeholder="الاسم" class="form-control" id="companyname" required>
        </div>
         <br>

         <div class="form-group">
          <input type="text" [(ngModel)]="companyaddress" name="companyaddress" placeholder="العنوان" class="form-control" id="companyaddress" required>
        </div>
        <br>

        <div class="form-group">
          <input type="number" [(ngModel)]="registernum" name="registernum" placeholder="رقم السجل" class="form-control" id="registernum" required>
        </div>
        <br>

        <div class="form-group">
          <label for="sel2" >نوع الشركة</label>
          <select class="form-control" [(ngModel)]="type" name="type">
            <option value=limited required>ذات مسئولية محدودة</option>
            <option value=abnormal required>شركة مساهمة مصرية</option>
          </select>
        </div>
        <hr>

        <div>
            <h5> بيانات المدير</h5>
        </div> 
        <br>

        <div class="form-group">
          <input type="text" [(ngModel)]="managername" name="managername" placeholder="الاسم" class="form-control" id="managername" required>
        </div>
        <br>

        <div class="form-group">
          <input type="text" [(ngModel)]="manageraddress" name="manageraddress" placeholder="العنوان" class="form-control" id="managername" required>
        </div>

        <hr>

        <div>
            <h5>بيانات الشركاء</h5>
        <!-- <button type="button" (click)="partners.push({})">+</button> -->
        </div> 


        <table>
            <tr *ngFor="let partner of partners; let i = index" style="margin-bottom: 10px;">
              <td>{{i+1}}.</td> &nbsp; <td>{{partner.name}}، </td> &nbsp; <td>{{partner.address}} </td> &nbsp; <td><button type="button" (click)="removePartner(partner)" class="btn btn-danger btn-xs">x</button></td>
            </tr>
        </table>
        <br>
        <div class="form-group">
        <input #name type="text" [(ngModel)]="partnername" name="partnername" placeholder="الاسم" class="form-control" required/>
        </div>
        <br>
        <div class="form-group">
        <input #address type="text" [(ngModel)]="partneraddress" name="partneraddress" placeholder="العنوان" class="form-control" required/>
        </div>
        <br>
        <button type="button" class="btn btn-primary btn-xs" (click)="addPartner(name.value,address.value)" [disabled]="!partnername || !partneraddress">إضافة شريك</button>
        <br>
        <hr>  


        <!-- <div *ngFor="let partner of partners; let i=index">

            <h5>الشريك رقم  {{i+1}}</h5>

        <button type="button" (click)="partners.splice(i, 1)" >x</button>
          <div class="form-group">
            <input type="text" [(ngModel)]="partner.name" name="partnername" placeholder="الاسم" class="form-control" required>
          </div>
          <br>

          <div class="form-group">
            <input type="text" [(ngModel)]="partner.address" name="partneraddress" placeholder="العنوان" class="form-control" required>
          </div>

          <hr>
        </div> -->
        <br>

        <div>
            <h5>بيانات المحاسب</h5>
        </div> 
        <br>

        <div class="form-group">
          <input type="text" [(ngModel)]="auditorname" name="auditorname" placeholder="الاسم" class="form-control" id="auditorname" required>
        </div>
         <br>

        <div class="form-group">
          <input type="text" [(ngModel)]="auditoraddress" name="auditoraddress" placeholder="العنوان" class="form-control" id="auditoraddress" required>
        </div>
         <br>

        <div style="text-align:center;">
          <input type="submit" class="btn btn-success center" style="position: absolute; margin: 0 auto;" value="Submit" [disabled] = "!companyname || !companyaddress || !registernum || partners.length==0 || !managername || !auditorname">
        </div>

      </div>
      </form>
      
    </div>
  </div>

</div>
</html>
